h1 {
	color: #262626;
	text-decoration: underline;
}
body {
	background-color: #ffefcc;	
}

nav {
	border-bottom-style: groove;
	border-color: #C0C0C0;
	margin-bottom: 50px;
}

div {
	border-style: groove;
	border-color: #C0C0C0;
}

#table {
	border-style: groove;
	border-color: #C0C0C0;
	padding-bottom: 50px;
}
